USE [MyInventory]
GO
/****** Object:  StoredProcedure [inv].[usp_inbound_put_away]    Script Date: 19/05/2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inv].[usp_inbound_put_away]
    -- --------------------------------------------------------
    -- Put Away: ย้ายสินค้าจาก Source Location ไปยัง Target Location
    -- รองรับ Partial Put Away และ Serial Control
    -- --------------------------------------------------------
    @in_int_inventory_id        BIGINT,          -- Source inventory ที่จะย้าย
    @in_dec_qty                 DECIMAL(18, 4),  -- จำนวนที่ต้องการย้าย (partial ได้)
    @in_int_target_location_id  INT,             -- Target storage location
    @in_vch_serial_number       NVARCHAR(50) = NULL, -- ระบุเมื่อต้องการย้าย serial เฉพาะตัว
    @in_vch_lang                VARCHAR(20),             -- ✅ เพิ่ม
    @in_vch_device              NVARCHAR(50) = NULL, -- Device ที่ใช้ทำรายการ
    @in_vch_user_id             NVARCHAR(50),
    @out_vch_error_code         VARCHAR(50)  OUTPUT,
    @out_vch_error_message      NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- --------------------------------------------------------
    -- Internal Variables (Consolidated Declaration)
    -- --------------------------------------------------------
    DECLARE 
        @v_vch_error_code               VARCHAR(50),
        @v_vch_error_message            NVARCHAR(255),
        @v_int_warehouse_id             INT,
        @v_vch_warehouse                NVARCHAR(50),
        @v_int_owner_id                 INT,
        @v_vch_owner_code               NVARCHAR(50),
        @v_int_source_location_id       INT,
        @v_vch_source_location          NVARCHAR(50),
        @v_int_item_master_id           INT,
        @v_vch_item_number              NVARCHAR(50),
        @v_vch_item_description         NVARCHAR(200),
        @v_dec_source_qty               DECIMAL(18, 4),
        @v_int_item_uom_id              INT,
        @v_vch_uom                      NVARCHAR(10),
        @v_vch_inv_status               NVARCHAR(50),
        @v_dat_receive_date             DATE,
        @v_vch_lot_number               NVARCHAR(50),
        @v_dat_expiry_date              DATE,
        @v_vch_target_location          NVARCHAR(50),
        @v_int_target_inventory_id      BIGINT,
        @v_int_serial_count             INT,
        @v_dt_process_start             DATETIME = GETDATE();

    BEGIN TRY
        BEGIN TRANSACTION;

        -- --------------------------------------------------------
        -- 1. Gather Source Inventory Data
        -- --------------------------------------------------------
        SELECT
            @v_int_warehouse_id         = inv.warehouse_id,
            @v_vch_warehouse            = inv.warehouse,
            @v_int_owner_id             = inv.owner_id,
            @v_vch_owner_code           = inv.owner_code,
            @v_int_source_location_id   = inv.location_id,
            @v_vch_source_location      = inv.location,
            @v_int_item_master_id       = inv.item_master_id,
            @v_vch_item_number          = inv.item_number,
            @v_vch_item_description     = inv.item_description,
            @v_dec_source_qty           = inv.quantity,
            @v_vch_inv_status           = inv.inv_status,
            @v_dat_receive_date         = inv.receive_date,
            @v_vch_lot_number           = inv.lot_number,
            @v_dat_expiry_date          = inv.expiry_date
        FROM [inv].[t_inv_inventory] inv
        WHERE inv.inventory_id = @in_int_inventory_id;

        -- Get base UOM for this item
        SELECT TOP 1
            @v_int_item_uom_id  = iuom.item_uom_id,
            @v_vch_uom          = iuom.uom
        FROM [inv].[t_inv_item_uom] iuom
        WHERE iuom.item_master_id = @v_int_item_master_id
            AND iuom.primary_uom  = 1;

        -- Get Target Location Name
        SELECT @v_vch_target_location = loc.location
        FROM [inv].[t_inv_location] loc
        WHERE loc.location_id = @in_int_target_location_id;

        -- --------------------------------------------------------
        -- 2. Validation
        -- --------------------------------------------------------
        SELECT @v_vch_error_code = CASE
            -- 2.1 Source inventory ต้องมีอยู่
            WHEN @v_int_item_master_id IS NULL                      THEN 'ERR_INVENTORY_NOT_FOUND'
            -- 2.2 Target location ต้องมีอยู่
            WHEN @v_vch_target_location IS NULL                     THEN 'ERR_LOCATION_NOT_FOUND'
            -- 2.3 ห้าม put away ไปที่ location เดิม
            WHEN @in_int_target_location_id = @v_int_source_location_id THEN 'ERR_SAME_LOCATION'
            -- 2.4 qty ที่ย้ายต้องมากกว่า 0
            WHEN @in_dec_qty <= 0                                   THEN 'ERR_INVALID_QTY'
            -- 2.5 qty ที่ย้ายต้องไม่เกิน qty ที่มีอยู่
            WHEN @in_dec_qty > @v_dec_source_qty                    THEN 'ERR_QTY_EXCEEDS_AVAILABLE'
            ELSE 'SUCCESS'
        END;

        -- 2.6 ถ้ามี serial ที่ระบุมา ต้องเช็คว่า serial นั้นอยู่ใน source inventory จริง
        IF @in_vch_serial_number IS NOT NULL AND @v_vch_error_code = 'SUCCESS'
        BEGIN
            SELECT @v_int_serial_count = COUNT(*)
            FROM [inv].[t_inv_inventory_serial] invs
            WHERE invs.inventory_id  = @in_int_inventory_id
                AND invs.serial_number = @in_vch_serial_number;

            IF @v_int_serial_count = 0
                SET @v_vch_error_code = 'ERR_SERIAL_NOT_FOUND';
        END

        -- Return Error if validation failed
        IF @v_vch_error_code <> 'SUCCESS'
        BEGIN
            -- ✅ ใช้ usf_get_resouce_value แทน hardcoded message
            SET @out_vch_error_code    = @v_vch_error_code;
            SET @out_vch_error_message = [sec].usf_get_resouce_value('STORED_PROCEDURE',@out_vch_error_code,@in_vch_lang,'@param1','@param2','@param3','@param4','@param5');
            RAISERROR(@out_vch_error_message, 16, 1);
        END

        -- --------------------------------------------------------
        -- 3. Execution Phase
        -- --------------------------------------------------------

        -- 3.1 UPDATE Source Inventory → ลด qty
        UPDATE [inv].[t_inv_inventory]
        SET quantity    = quantity - @in_dec_qty,
            update_by   = @in_vch_user_id,
            update_date = GETDATE()
        WHERE inventory_id = @in_int_inventory_id;

        -- 3.2 ถ้า qty = 0 หลังย้าย → ลบ source inventory row
        --     (serial ถ้ามีจะถูก reassign ก่อนลบใน step 3.4)
        IF (@v_dec_source_qty - @in_dec_qty) = 0
        BEGIN
            DELETE FROM [inv].[t_inv_inventory]
            WHERE inventory_id = @in_int_inventory_id;
        END

        -- 3.3 MERGE Target Inventory
        --     match ด้วย warehouse + owner + location + item + inv_status + lot + expiry + receive_date
        MERGE [inv].[t_inv_inventory] AS target
        USING (
            SELECT
                @v_int_warehouse_id        AS warehouse_id,
                @v_vch_warehouse           AS warehouse,
                @v_int_owner_id            AS owner_id,
                @v_vch_owner_code          AS owner_code,
                @in_int_target_location_id AS location_id,
                @v_vch_target_location     AS location,
                @v_int_item_master_id      AS item_master_id,
                @v_vch_item_number         AS item_number,
                @v_vch_item_description    AS item_description,
                @v_vch_inv_status          AS inv_status,
                @v_dat_receive_date        AS receive_date,
                @v_vch_lot_number          AS lot_number,
                @v_dat_expiry_date         AS expiry_date
        ) AS source
        ON  target.warehouse_id                            = source.warehouse_id
            AND target.owner_id                            = source.owner_id
            AND target.location_id                         = source.location_id
            AND target.item_master_id                      = source.item_master_id
            AND ISNULL(target.inv_status,   '')            = ISNULL(source.inv_status,   '')
            AND ISNULL(target.lot_number,   '')            = ISNULL(source.lot_number,   '')
            AND ISNULL(target.expiry_date,  '1900-01-01')  = ISNULL(source.expiry_date,  '1900-01-01')
            AND ISNULL(target.receive_date, '1900-01-01')  = ISNULL(source.receive_date,  '1900-01-01')
        WHEN MATCHED THEN
            UPDATE SET
                quantity    = ISNULL(target.quantity, 0) + @in_dec_qty,
                update_by   = @in_vch_user_id,
                update_date = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (
                warehouse_id, warehouse, owner_id, owner_code,
                location_id, location,
                item_master_id, item_number, item_description,
                quantity, inv_status,
                receive_date, lot_number, expiry_date,
                create_by, create_date
            )
            VALUES (
                source.warehouse_id, source.warehouse, source.owner_id, source.owner_code,
                source.location_id,  source.location,
                source.item_master_id, source.item_number, source.item_description,
                @in_dec_qty, source.inv_status,
                source.receive_date, source.lot_number, source.expiry_date,
                @in_vch_user_id, GETDATE()
            );

        -- 3.4 Serial: ย้าย inventory_id ของ serial ไปชี้ target inventory
        IF @in_vch_serial_number IS NOT NULL OR EXISTS (
            SELECT 1 FROM [inv].[t_inv_inventory_serial]
            WHERE inventory_id = @in_int_inventory_id
        )
        BEGIN
            -- ดึง target inventory_id ที่เพิ่งสร้างหรือ match
            SELECT @v_int_target_inventory_id = inv.inventory_id
            FROM [inv].[t_inv_inventory] inv
            WHERE inv.warehouse_id                          = @v_int_warehouse_id
                AND inv.owner_id                            = @v_int_owner_id
                AND inv.location_id                         = @in_int_target_location_id
                AND inv.item_master_id                      = @v_int_item_master_id
                AND ISNULL(inv.inv_status,   '')            = ISNULL(@v_vch_inv_status,   '')
                AND ISNULL(inv.lot_number,   '')            = ISNULL(@v_vch_lot_number,   '')
                AND ISNULL(inv.expiry_date,  '1900-01-01')  = ISNULL(@v_dat_expiry_date,  '1900-01-01')
                AND ISNULL(inv.receive_date, '1900-01-01')  = ISNULL(@v_dat_receive_date, '1900-01-01');

            -- UPDATE serial ให้ชี้ไปที่ target inventory
            -- ถ้าระบุ serial เฉพาะตัว → ย้ายแค่ตัวนั้น
            -- ถ้าไม่ระบุ → ย้ายทุก serial ใน source inventory
            UPDATE [inv].[t_inv_inventory_serial]
            SET inventory_id = @v_int_target_inventory_id,
                update_by    = @in_vch_user_id,
                update_date  = GETDATE()
            WHERE inventory_id   = @in_int_inventory_id
                AND (
                    @in_vch_serial_number IS NULL
                    OR serial_number = @in_vch_serial_number
                );
        END

        -- 3.5 Insert Transaction Log
        INSERT INTO [inv].[t_inv_tran_log] (
            tran_type,
            sub_tran_type,
            warehouse_id,
            warehouse,
            owner_id,
            owner_code,
            location_id,
            location,
            after_location_id,
            after_location,
            item_master_id,
            item_number,
            item_description,
            quantity,
            item_uom_id,
            uom,
            inv_status,
            after_inv_status,
            receive_date,
            lot_number,
            after_lot_number,
            expiry_date,
            after_expiry_date,
            serial_number,
            device,
            create_by,
            create_date
        )
        VALUES (
            'PUT_AWAY',
            'PUT_AWAY',
            @v_int_warehouse_id,
            @v_vch_warehouse,
            @v_int_owner_id,
            @v_vch_owner_code,
            @v_int_source_location_id,
            @v_vch_source_location,
            @in_int_target_location_id,
            @v_vch_target_location,
            @v_int_item_master_id,
            @v_vch_item_number,
            @v_vch_item_description,
            @in_dec_qty,
            @v_int_item_uom_id,
            @v_vch_uom,
            @v_vch_inv_status,
            @v_vch_inv_status,
            @v_dat_receive_date,
            @v_vch_lot_number,
            @v_vch_lot_number,
            @v_dat_expiry_date,
            @v_dat_expiry_date,
            @in_vch_serial_number,
            @in_vch_device,
            @in_vch_user_id,
            GETDATE()
        );

        COMMIT TRANSACTION;
        SET @out_vch_error_code    = '0';
        -- ✅ success message จาก resource
        SET @out_vch_error_message = [sec].usf_get_resouce_value('STORED_PROCEDURE','SAVE_SUCCESS',@in_vch_lang,'@param1','@param2','@param3','@param4','@param5');

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @out_vch_error_code    = ISNULL(@out_vch_error_code, 'ERR_999');
        SET @out_vch_error_message = ERROR_MESSAGE();

        -- Log error
        EXEC [inv].usp_process_log
             @in_vch_log_type        = 'STORE_PROCEDURE'
            ,@in_vch_device          = @in_vch_device
            ,@in_vch_process         = 'usp_inbound_put_away'
            ,@in_dt_process_datetime = @v_dt_process_start
            ,@out_vch_error_code     = @out_vch_error_code
            ,@out_vch_error_message  = @out_vch_error_message
            ,@in_vch_user_id         = @in_vch_user_id;
    END CATCH
END
GO
