USE [MyInventory]
GO
/****** Object:  StoredProcedure [inv].[usp_inbound_close_order]    Script Date: 02/06/2026 17:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- Object  : [inv].[usp_inbound_close_order]
-- ============================================================
CREATE PROCEDURE [inv].[usp_inbound_close_order]
    @in_int_inbound_master_id BIGINT,
    @in_vch_lang              VARCHAR(20),
    @in_vch_user_id           NVARCHAR(50),
    @in_vch_device            NVARCHAR(50),
    @out_vch_error_code       VARCHAR(50)   OUTPUT,
    @out_vch_error_message    NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE
        @v_dt_process_start         DATETIME      = GETDATE(),
        @v_vch_inbound_order_number NVARCHAR(50),
        @v_vch_old_status           VARCHAR(20),
        @v_int_open_receipt_count   INT;


    BEGIN TRY


        BEGIN TRANSACTION;


        -- ============================================================
        -- Validate Inbound Order + ดึงข้อมูล master order
        -- ============================================================
        SELECT
            @v_vch_inbound_order_number = im.inbound_order_number,
            @v_vch_old_status           = im.order_status
        FROM [inv].[t_inv_inbound_master] im
        WHERE im.inbound_master_id = @in_int_inbound_master_id;


        IF @v_vch_inbound_order_number IS NULL
        BEGIN
            SET @out_vch_error_code    = 'ERR_INBOUND_ORDER_NOT_FOUND';
            SET @out_vch_error_message = [sec].usf_get_resouce_value(
                                                'STORED_PROCEDURE',
                                                @out_vch_error_code,
                                                @in_vch_lang,
                                                '@param1','@param2','@param3','@param4','@param5'
                                            );


            RAISERROR(@out_vch_error_message, 16, 1);
        END


        IF @v_vch_old_status = 'Closed'
        BEGIN
            SET @out_vch_error_code    = 'ERR_INBOUND_ALREADY_CLOSE';
            SET @out_vch_error_message = [sec].usf_get_resouce_value(
                                                'STORED_PROCEDURE',
                                                @out_vch_error_code,
                                                @in_vch_lang,
                                                '@param1','@param2','@param3','@param4','@param5'
                                            );


            RAISERROR(@out_vch_error_message, 16, 1);
        END


        -- ============================================================
        -- Check if all receipts are closed
        -- ============================================================
        SELECT @v_int_open_receipt_count = COUNT(*)
        FROM [inv].[t_inv_inbound_receipt_header]
        WHERE inbound_master_id = @in_int_inbound_master_id
          AND ISNULL(receipt_status, 'Open') <> 'Closed';


        IF @v_int_open_receipt_count > 0
        BEGIN
            SET @out_vch_error_code    = 'ERR_RECEIPT_STILL_OPEN';
            SET @out_vch_error_message = [sec].usf_get_resouce_value(
                                                'STORED_PROCEDURE',
                                                @out_vch_error_code,
                                                @in_vch_lang,
                                                '@param1','@param2','@param3','@param4','@param5'
                                            );


            RAISERROR(@out_vch_error_message, 16, 1);
        END


        -- ============================================================
        -- Close Inbound Order
        -- ============================================================
        UPDATE im
        SET
            im.order_status = 'Closed',
            im.close_by     = @in_vch_user_id,
            im.close_date   = GETDATE()
        FROM [inv].[t_inv_inbound_master] im
        WHERE im.inbound_master_id = @in_int_inbound_master_id
          AND ISNULL(im.order_status,'Open') <> 'Closed';


        -- ============================================================
        -- Process Log
        -- ============================================================
        EXEC [inv].[usp_process_log]
             @in_vch_log_type        = 'STORED_PROCEDURE'
            ,@in_vch_device          = @in_vch_device
            ,@in_vch_process         = 'usp_inbound_close_order'
            ,@in_dt_process_datetime = @v_dt_process_start
            ,@out_vch_error_code     = '0'
            ,@out_vch_error_message  = 'Close inbound order success'
            ,@in_vch_user_id         = @in_vch_user_id;


        COMMIT TRANSACTION;


        SET @out_vch_error_code    = '0';
        SET @out_vch_error_message = 'Close inbound order success';


    END TRY
    BEGIN CATCH


        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;


        SET @out_vch_error_code = ISNULL(@out_vch_error_code, 'ERR_999');
        SET @out_vch_error_message = ERROR_MESSAGE();


        EXEC [inv].[usp_process_log]
             @in_vch_log_type        = 'STORED_PROCEDURE'
            ,@in_vch_device          = @in_vch_device
            ,@in_vch_process         = 'usp_inbound_close_order'
            ,@in_dt_process_datetime = @v_dt_process_start
            ,@out_vch_error_code     = @out_vch_error_code
            ,@out_vch_error_message  = @out_vch_error_message
            ,@in_vch_user_id         = @in_vch_user_id;


    END CATCH


END
GO
