USE [MyInventory]
GO
/****** Object:  StoredProcedure [inv].[usp_inbound_close_receipt]    Script Date: 8/6/2569 13:40:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- Object  : [inv].[usp_inbound_close_receipt]
-- ============================================================
ALTER   PROCEDURE [inv].[usp_inbound_close_receipt]
    @in_int_receipt_header_id     BIGINT,
    @in_vch_lang              VARCHAR(20) = N'EN',
    @in_vch_user_id           NVARCHAR(50),
    @in_vch_device            NVARCHAR(50),
    @out_vch_error_code       VARCHAR(50)   OUTPUT,
    @out_vch_error_message    NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE
        @v_dt_process_start         DATETIME      = GETDATE(),
        @v_vch_receipt_number       NVARCHAR(50),
        @v_vch_inbound_order_number NVARCHAR(50),
        @v_vch_old_status           VARCHAR(20),
        @v_int_warehouse_id         INT,
        @v_vch_warehouse            NVARCHAR(100),
        @v_int_owner_id             INT,
        @v_vch_owner_code           NVARCHAR(50),
        @v_vch_order_type           NVARCHAR(50);


    BEGIN TRY


        BEGIN TRANSACTION;


        -- ============================================================
        -- Validate Receipt Header + ดึงข้อมูล warehouse/owner จาก master order
        -- ============================================================
        SELECT
            @v_vch_receipt_number       = rh.receipt_number,
            @v_vch_inbound_order_number = rh.inbound_order_number,
            @v_vch_old_status           = rh.receipt_status,
            @v_int_warehouse_id         = im.warehouse_id,
            @v_vch_warehouse            = im.warehouse,
            @v_int_owner_id             = im.owner_id,
            @v_vch_owner_code           = im.owner_code,
            @v_vch_order_type           = im.order_type
        FROM [inv].[t_inv_inbound_receipt_header] rh
        INNER JOIN [inv].[t_inv_inbound_master] im
            ON rh.inbound_master_id = im.inbound_master_id
        WHERE rh.receipt_header_id = @in_int_receipt_header_id;


        IF @v_vch_receipt_number IS NULL
        BEGIN
            SET @out_vch_error_code    = 'ERR_RECEIPT_HEADER_NOT_FOUND';
            SET @out_vch_error_message = [sec].usf_get_resouce_value(
                                                'STORED_PROCEDURE',
                                                @out_vch_error_code,
                                                @in_vch_lang,
                                                '@param1','@param2','@param3','@param4','@param5'
                                            );


            RAISERROR(@out_vch_error_message, 16, 1);
        END


        IF @v_vch_old_status = 'Closed'
        BEGIN
            SET @out_vch_error_code    = 'ERR_INBOUND_ALREADY_CLOSE';
            SET @out_vch_error_message = [sec].usf_get_resouce_value(
                                                'STORED_PROCEDURE',
                                                @out_vch_error_code,
                                                @in_vch_lang,
                                                '@param1','@param2','@param3','@param4','@param5'
                                            );


            RAISERROR(@out_vch_error_message, 16, 1);
        END


        -- ============================================================
        -- Close Receipt Header
        -- ============================================================
        UPDATE rh
        SET
            rh.receipt_status = 'Closed',
            rh.close_by       = @in_vch_user_id,
            rh.close_date     = GETDATE()
        FROM [inv].[t_inv_inbound_receipt_header] rh
        WHERE rh.receipt_header_id = @in_int_receipt_header_id
          AND ISNULL(rh.receipt_status,'Open') <> 'Closed';


        -- ============================================================
        -- Transaction Log
        -- ============================================================
        INSERT INTO [inv].[t_inv_tran_log]
        (
            tran_type,
            sub_tran_type,
            description,
            warehouse_id,
            warehouse,
            owner_id,
            owner_code,
            location_id,
            location,
            after_location_id,
            after_location,
            item_master_id,
            item_number,
            item_description,
            line_number,
            quantity,
            item_uom_id,
            uom,
            inv_status,
            after_inv_status,
            receive_date,
            lot_number,
            after_lot_number,
            expiry_date,
            after_expiry_date,
            serial_number,
            order_number,
            reference_number,
            order_type,
            device,
            create_by,
            create_date
        )
        SELECT
            'INBOUND',
            'CLOSE_RECEIPT',
            CONCAT(
                'Close inbound receipt : ',
                @v_vch_inbound_order_number
            ),
            @v_int_warehouse_id,
            @v_vch_warehouse,
            @v_int_owner_id,
            @v_vch_owner_code,
            rd.receipt_location_id,
            rd.receipt_location,
            rd.receipt_location_id,
            rd.receipt_location,
            rd.item_master_id,
            rd.item_number,
            i.description,
            d.line_number,
            rd.quantity_received,
            rd.item_uom_id,
            rd.uom,
            rd.receipt_inv_status,
            rd.receipt_inv_status,
            rd.receive_date,
            rd.lot_number,
            rd.lot_number,
            rd.expiry_date,
            rd.expiry_date,
            rd.serial_number,
            rd.inbound_order_number,
            rd.receipt_number,
            @v_vch_order_type,
            @in_vch_device,
            @in_vch_user_id,
            GETDATE()
        FROM [inv].[t_inv_inbound_receipt_detail] rd
        INNER JOIN [inv].[t_inv_inbound_detail] d
            ON rd.inbound_detail_id = d.inbound_detail_id
        INNER JOIN [inv].[t_inv_item] i
            ON rd.item_master_id = i.item_master_id
        WHERE rd.receipt_header_id = @in_int_receipt_header_id;


        -- ============================================================
        -- Process Log
        -- ============================================================
        EXEC [inv].[usp_process_log]
             @in_vch_log_type        = 'STORED_PROCEDURE'
            ,@in_vch_device          = @in_vch_device
            ,@in_vch_process         = 'usp_inbound_close_receipt'
            ,@in_dt_process_datetime = @v_dt_process_start
            ,@out_vch_error_code     = '0'
            ,@out_vch_error_message  = 'Close inbound receipt success'
            ,@in_vch_user_id         = @in_vch_user_id;


        COMMIT TRANSACTION;


        SET @out_vch_error_code    = '0';
        SET @out_vch_error_message = 'Close inbound receipt success';


    END TRY
    BEGIN CATCH


        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;


        SET @out_vch_error_code = ISNULL(@out_vch_error_code, 'ERR_999');
        SET @out_vch_error_message = ERROR_MESSAGE();


        EXEC [inv].[usp_process_log]
             @in_vch_log_type        = 'STORED_PROCEDURE'
            ,@in_vch_device          = @in_vch_device
            ,@in_vch_process         = 'usp_inbound_close_receipt'
            ,@in_dt_process_datetime = @v_dt_process_start
            ,@out_vch_error_code     = @out_vch_error_code
            ,@out_vch_error_message  = @out_vch_error_message
            ,@in_vch_user_id         = @in_vch_user_id;


    END CATCH


END