USE [MyInventory]
GO
/****** Object:  StoredProcedure [inv].[usp_mobile_inbound_binding_location]    Script Date: 26/05/2026 15:22:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [inv].[usp_mobile_inbound_binding_location]
    @in_vch_item_number     NVARCHAR(50),
    @in_vch_lang            VARCHAR(20),             -- ✅ เพิ่ม
    @out_int_location_id    INT           OUTPUT,
    @out_vch_location       NVARCHAR(50)  OUTPUT,
    @out_vch_error_code     VARCHAR(50)   OUTPUT,
    @out_vch_error_message  NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @v_int_item_master_id INT,
        @v_vch_error_code     VARCHAR(50),
        @v_vch_error_message  NVARCHAR(255);

    -- Step 1: Resolve item_master_id from t_inv_item
    SELECT @v_int_item_master_id = item_master_id
    FROM [inv].[t_inv_item]
    WHERE item_number = @in_vch_item_number
        AND is_active = 1;

    -- Step 2: Fallback to t_inv_item_cross_ref
    IF @v_int_item_master_id IS NULL
    BEGIN
        SELECT @v_int_item_master_id = item_master_id
        FROM [inv].[t_inv_item_cross_ref]
        WHERE (    item_number           = @in_vch_item_number
               OR  alternate_item_number = @in_vch_item_number)
            AND is_active = 1;
    END

    -- Guard: item must resolve to a valid item_master_id
    IF @v_int_item_master_id IS NULL
    BEGIN
        SET @out_vch_error_code    = 'ERR_ITEM_NOT_FOUND';
        -- ✅ ใช้ usf_get_resouce_value แทน hardcoded message
        SET @out_vch_error_message = [sec].usf_get_resouce_value('STORED_PROCEDURE',@out_vch_error_code,@in_vch_lang,'@param1','@param2','@param3','@param4','@param5');
        RETURN;
    END

    -- Delegate suggest logic to dedicated SP
    EXEC [inv].[usp_inv_suggest_putaway_location]
         @in_int_item_master_id = @v_int_item_master_id
        ,@out_int_location_id   = @out_int_location_id  OUTPUT
        ,@out_vch_location      = @out_vch_location     OUTPUT;

    -- Result Set 1: Item data
    SELECT
        itm.item_master_id,
        itm.item_number,
        itm.description,
        itm.lot_control         AS is_control_lot,
        itm.expiry_date_control AS is_control_expiry,
        itm.sn_control          AS is_control_serial
    FROM [inv].[t_inv_item] itm
    WHERE itm.item_master_id = @v_int_item_master_id;

    -- Result Set 2: All available locations
    SELECT
        loc.location_id,
        loc.location,
        loc.loc_type,
        loc.putaway_sequence
    FROM [inv].[t_inv_location] loc
    WHERE loc.is_active  = 1
        AND loc.loc_type IN (
            SELECT value
            FROM [inv].[t_inv_rule]
            WHERE rule_code = 'LOC_TYPE_FOR_RECEIVE'
                AND is_active = 1
        )
    ORDER BY
        loc.putaway_sequence ASC,
        loc.location         ASC;

    -- Result Set 3: All active UOMs for the item
    SELECT
        iuom.item_uom_id,
        iuom.uom,
        iuom.primary_uom,
        iuom.conversion_factor,
        iuom.sequence
    FROM [inv].[t_inv_item_uom] iuom
    WHERE iuom.item_master_id = @v_int_item_master_id
        AND iuom.is_active    = 1
    ORDER BY
        iuom.primary_uom DESC,
        iuom.sequence    ASC;

    SET @out_vch_error_code    = '0';
    SET @out_vch_error_message = [sec].usf_get_resouce_value('STORED_PROCEDURE','SAVE_SUCCESS',@in_vch_lang,'@param1','@param2','@param3','@param4','@param5');
END
GO
